* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
padding-top: 15px;
font-family: 'Lato', sans-serif;
}

.nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chatBotContainer {
  border: 2px solid rgb(203, 199, 199);
  height: 400px;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.main {
  display: flex;
  justify-content: center;
}

.messagesContainer {
  overflow:scroll;
}

form {
  border: 1px solid rgb(203, 199, 199);
  padding: 3px;
  bottom: 0;
  width: 100%;
}

form input {
  width: 80%;
  border: 0;
  padding: 10px;
  margin-right: .5%;
}

form button {
  background: #ED6077;
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
